<style type="text/css">

* { margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5% }

body { height: 100%; background-color: #FFFFFF; font: 1.2em Verdana, Arial, Helvetica, sans-serif; }


/* ==================== Form style sheet ==================== */

input[type=checkbox].css-checkbox {
display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px;
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
padding-right: 20px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
background-image:url(images/dark-check-green.png);
}





/* ============================================= */









.styled-select select {
    border-radius: 9px 9px 9px 9px;
    font-size: 16px;
    height: 34px;
    padding: 5px;
    width: 148px;   
    margin: 5px;
} 



.more_server_info textarea { 

 width: 400px; height: 83px; margin: 0 0 12px 0; display: block;


} 


legend.server_error  { 
font-size: 1.1em; background-color: #FFFFCC ; color: #000000;  padding: 4px 8px; width: 601px; left:100px ;bottom:592px; position:absolute ; text-align: center;font-weight: lighter;

}



form { margin: 25px 0 0 29px; width: 450px; padding-bottom: 0px; }

/*fieldset { margin: 0 0 22px 0; border: 1px solid #095D92; padding: 12px 17px; background-color: #DFF3FF; }*/


fieldset {
    background-color: #E4F8FF;
    border: 1px solid #095D92;
    margin: 13px -11px 33px;
    padding: 12px 17px;
    width: 37%;
}
fieldset.fieldsetcol1 {
    background-color: #E4F8FF;
    border: 1px solid #095D92;
    margin: 35px 14px 36px;
    padding: 12px 17px;
    width: 91%;
}



legend { font-size: 1.1em; background-color: #095D92; color: #FFFFFF; font-weight: bold; padding: 4px 8px; }

label.float { float: left; display: block; width: 100px; margin: 4px 0 0 0; clear: left; }
label { display: block; width: auto; margin:10px -2px 0px ; }
label.spam-protection { display: inline; width: auto; margin: 0; }

input.inp-text, textarea, input.choose, input.answer { border: 1px solid #909090; padding: 3px; }
input.inp-text { width: 300px; margin: 0 0 8px 0; }
textarea { width: 400px; height: 150px; margin: 0 0 12px 0; display: block; }

input.choose { margin: 0 2px 0 0; }
input.answer { width: 40px; margin: 0 0 0 10px; }
input.submit-button { font: 1.4em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: block; margin: 23px 0 0 0; }

form br { display: none; }

/* ==================== Form style sheet END ==================== */

.mask{
   position: relative;
   overflow: hidden;
   margin: 0px auto;
   width: 100%;
   height: auto;
   background-color: #f4f4f4
}
.header{
   float: left;
   width: 100%;
   background-color: #f4f4f4
}
.colleft{
   position: relative;
   width: 100%;
   right: 50%;
   background-color: #f4f4f4
}


.col1 {
    background-color: #E6E6E6;
    float: left;
    min-height: 893px;
    left: 84%;
    overflow: hidden;
    position: relative;
    width: 66%;
}
.col2 {
    background-color: #E6E6E6;
    float: left;
    min-height: 530px;
    left: -230px;
    overflow: hidden;
    position: relative;
    width: 34%;
}


.footer{
   float: left;
   width: 100%;
   background-color: #b4caf7
}

/*=========================Table =========================== */




table.tftable {
    border-collapse: collapse;
    border-color: #729EA5;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
    width: 100%;
    display: none;
}
table.tftable th {
    background-color: #ACC8CC;
    border-color: #729EA5;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 8px;
    text-align: left;
}
table.tftable tr {
    background-color: #D4E3E5;
}
table.tftable td {
    border-color: #729EA5;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 8px;
}






table.servertable {
    border-collapse: collapse;
    border-color: #729EA5;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
    width: 100%;
}
table.servertable th.main_edit_tr_server_DOM0 {
    background-color: #ACC8CC;
    border-color: #729EA5;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    padding: 8px;
    text-align: left;
}


table.servertable th.main_edit_tr_server_DOMU {
    background-color: #ACC8CC;
    border-color: #729EA5;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 8px;
    text-align: left;
}




table.servertable tr.main_edit_tr_server_DOM0  {
    background-color: #D4E3E5;
    font-size: 13px;
    font-weight: bold;
}
table.servertable tr.main_edit_tr_server_DOM0:hover  {
    background-color: #fff;
    font-size: 13px;
    font-weight: bold;
}
table.servertable tr.main_edit_tr_server_DOMU {
    background-color: #97babf;
    font-size: 12px;
}
table.servertable tr.main_edit_tr_server_DOMU:hover {
    background-color: #fff;
    font-size: 12px;
}
table.servertable td {
    border-color: #729EA5;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
}





/* =============== ==========================*/





/*---------------------------------------------------*/
table.innertable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #bcaf91;border-collapse: collapse;}
table.innertable th {font-size:12px;background-color:#ded0b0;border-width: 1px;padding: 8px;border-style: solid;border-color: #bcaf91;text-align:left;}
table.innertable tr {background-color:#e9dbbb;}
table.innertable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #bcaf91;}
/* --------------------------------------------------------*/

.editbox {
display:none;
font-size:14px;
width:160px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}




.parentDisable {
 color: #AAAAAA;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.99;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
 
}







/* for more server info table */


table.more_server_info {
border-collapse: collapse;
    border-color: #BCAF91;
    border-width: 1px;
    bottom: 11%;
    color: #333333;
    font-size: 12px;
    left: 19%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 53%;
    border: 5px solid gray;
    box-shadow: -7px 16px 12px rgba(26, 0, 0, 0.81);
  }

table.more_server_info th {font-size:12px;background-color:#ded0b0;border-width: 1px;padding: 8px;border-style: solid;border-color: #bcaf91;text-align:left;width:207px;}
table.more_server_info tr {background-color:#e9dbbb;}
table.more_server_info td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #bcaf91;}










</style>

