<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rack 1&nbsp; </b>[IMS: 172.16.1.21]<br /> 
</p><p><br /> 
</p><p><br /> 
</p>
<table class="table1" border="1" cellspacing="1" cellpadding="1" style="width: 1144px; height: 883px;">

<tr>
<td> <b>Dom0<br /></b>
</td><td> <b>DomU <br /></b>
</td><td> <b>ipaddress<br /></b>
</td><td> <b>server name <br /></b>
</td><td> <b>application <br /></b>
</td><td> <b>website <br /></b>
</td><td> <b>assigned to </b><br />
</td></tr>
<tr>
<td> S1 (1.51)<br />
</td><td> zeenews-db 10GB ram 100 GB HDD &nbsp;&nbsp;
</td><td> 172.16.1.101<br />
</td><td> zeenews-db
</td><td> win2k8 ,sql
</td><td> MSSQL Server
</td><td> Zeenews
</td></tr>
<tr>
<td> <br />
</td><td> zeewebwin01&nbsp; 4GB ram&nbsp; 50 GB HDD<br />
</td><td> 10.0.202.130<br />
</td><td> zeewebwin01<br />
</td><td> win2k8 ,sql,iis<br />
</td><td> zeetvwebsite <br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> Zeetvweb1&nbsp; 4GB ram 50 GB HDD<br />
</td><td> 10.0.202.142<br />
</td><td> zeetvweb1<br />
</td><td> win2k8,IIS<br />
</td><td> ZeetV <br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> Zeetvweb2&nbsp; 4GB ram 50 GB HDD<br />
</td><td> 10.0.202.136<br />
</td><td> zeetvweb2<br />
</td><td> win2k8,IIS<br />
</td><td> Zee TV <br />
</td><td> Zeetv<br />
</td></tr>
<tr>
<td> <br />
</td><td> Zeetvweb3&nbsp; 4GB ram 48 GB HDD<br />
</td><td> 10.0.202.132<br />
</td><td> zeetvweb3<br />
</td><td> win2k8,IIS<br />
</td><td> Zee TV <br />
</td><td> Zeetv<br />
</td></tr>
<tr>
<td> <br />
</td><td> Zeetvweb4&nbsp; 4GB ram 30 GB HDD<br />
</td><td> 10.0.202.146<br />
</td><td> zeetvweb4<br />
</td><td> win2k8,IIS<br />
</td><td> Zee TV <br />
</td><td> Zeetv<br />
</td></tr>
<tr>
<td> <br />
</td><td> Free 12 GB ram<br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S2 (1.52) <br />
</td><td> web1 5.5GB ram 50GB hdd<br />
</td><td> 172.16.1.106<br />
</td><td> web1 <br />
</td><td> apache,php,memcache<br />
</td><td> indiancolleges,careerfundas,lms.indiancolleges.com<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web2 5.5GB ram 50GB hdd<br />
</td><td> 172.16.1.107<br />
</td><td> web2<br />
</td><td> new bollywoodlife
</td><td> new bollywoodlife
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web3 5.5GB ram 50GB hdd<br />
</td><td> 172.16.1.108<br />
</td><td> web3<br />
</td><td> apache,php,memcache<br />
</td><td> all commons <br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web4 5.5GB ram 50GB hdd<br />
</td><td> 172.16.1.109<br />
</td><td> web4<br />
</td><td> apache,php,memcache<br />
</td><td> bgr.in,gadgets.india.com
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S3 (1.53) <br />
</td><td> DB1 11GB ram 100GB hdd <br />
</td><td> 172.16.1.111<br />
</td><td> db1<br />
</td><td> mysql <br />
</td><td> all commons (auth mboarddb poll social&nbsp; ),indiancolleges<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> DB2 11GB ram 100GB hdd<br />
</td><td> 172.16.1.112<br />
</td><td> db2<br />
</td><td> mysql<br />
</td><td> admin_moderator <br /> bgrdb <br /> bollywoodlife <br /> bookmyname_db <br /> education_alphadb<br /> education_db <br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S4 (1.54) <br />
</td><td> DB3 10GB ram 200GB hdd<br />
</td><td> 172.16.1.116<br />
</td><td> db3<br />
</td><td> mysql <br />
</td><td> oncars_db,leads_trading
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web14&nbsp;3GB&nbsp;ram 50GB hdd (cache-9)<br />
</td><td> 172.16.1.117<br />
</td><td> web14
</td><td> new bollywoodlife<br />
</td><td> new bollywoodlife
</td><td> IWPl
</td></tr>
<tr>
<td> <br />
</td><td> web-12(cache-10) 5 GB ram 50 GB hdd<br />
</td><td> 172.16.1.118<br />
</td><td> web-12<br />
</td><td> apache,php
</td><td> did3.india.com,bollywoodlife.com
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> zeetvmemcach-1 10 Gb ram 24 Gb hdd<br />
</td><td> 10.0.202.134<br />
</td><td> zeetvmem-1<br />
</td><td> Zee Tv Memcached Server-1<br />
</td><td> Zee Tv Memcached Server-1<br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> zeetvmemcache-2 10 Gb ram 24 Gb hdd<br />
</td><td> 10.0.202.137<br />
</td><td> zeetvmem-2<br />
</td><td> Zee TV Memcaches Server-2<br />
</td><td> Zee Tv Memcached Server-2<br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> Zeetvweb5&nbsp; 4gb ram 50 Gb hdd<br />
</td><td> 10.0.202.165<br />
</td><td> zeetvweb5<br />
</td><td> win2k8,IIS<br />
</td><td> Zee Tv Web Server 5 (win2k8)<br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S5 (1.55)<br />
</td><td> 1 systems ops 8GB 100GB <br />
</td><td> 172.16.1.121<br />
</td><td> ops<br />
</td><td> mysql,php,apache<br /><br />
</td><td> odw <br /> opsview <br /> reports <br /> runtime <br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> mail 4GB ram 50GB hdd<br />
</td><td> 172.16.1.122<br />
</td><td> mail<br />
</td><td> postfix,mysql, apache,php<br />
</td><td> mail server gateway, centos repo<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> admin server 4GB ram 50 GB hdd<br />
</td><td> 172.16.1.123<br />
</td><td> admin&nbsp; <br />
</td><td> mysql,php,apache<br />
</td><td> piwik,lms,reports<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> cache 4GB ram 129GB hdd<br />
</td><td> 10.0.202.209<br />
</td><td> linux-zee<br />
</td><td> php,apache<br />
</td><td> zee <br />
</td><td> Zeetv
</td></tr>
<tr>
<td> <br />
</td><td> cache 6GB ram 20GB hdd<br />
</td><td> 172.16.1.125<br />
</td><td> cache-9<br />
</td><td> backup server
</td><td> backup server
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> zeesmall
</td><td> 10.0.202.19
</td><td> zee
</td><td> <br />
</td><td> <br />
</td><td> zeetv
</td></tr>
<tr>
<td> <br />
</td><td> cache-13 4GB ram 20 GB hdd
</td><td> 172.16.1.124
</td><td> web15
</td><td> Free
</td><td> Free
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> cache-14 4 GB ram 20 GB hdd
</td><td> 172.16.1.130
</td><td> web17
</td><td> wordpress,apache
</td><td> Blogs.india.com
</td><td> IWPl
</td></tr>
<tr>
<td> <br />
</td><td> web16- 5 GB RAM 46GB HDD
</td><td> 172.16.1.103
</td><td> web16
</td><td> php,apache
</td><td> voiceof.india.com,solr instance
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S6 (1.56) <br />
</td><td> web9 5GBram <br />
</td><td> 172.16.1.126<br />
</td><td> web9 <br />
</td><td> apache,php,memcache<br />
</td><td> www.india.com,m.india.com,w.india.com,ribbon.india.com<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web10 <br />
</td><td> 172.16.1.127<br />
</td><td> web10<br />
</td><td> apache,php,memcache<br />
</td><td> health.india.com,examresults.india.com
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> cache-7&nbsp; 5-GB ram 50-GB hdd<br />
</td><td> 172.16.1.128<br />
</td><td> cache-7<br />
</td><td> varnish,memcached<br />
</td><td> Varnish server for india.com,bgr,video,travel,gadgets
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> r1s6v1web13&nbsp;5-GB ram - 50-GB hdd<br />
</td><td> 172.16.1.129<br />
</td><td> web13<br />
</td><td> apache,php,memcache
</td><td> cricketcountry,m.cricketcountry,admin.cricketcountry.com
</td><td> IWPL
</td></tr></table>
<p><br /> &nbsp;<br /> 
</p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>Rack 2 </b> [IMS: 172.16.1.22]<br /> 
</p><p><br /> 
</p><p>health,examresults varnish 
</p>
<table border="1" width="1162" cellspacing="1" cellpadding="1" style="">

<tr>
<td> <b>Dom0<br /></b>
</td><td> <b>DomU <br /></b>
</td><td> <b>ipaddress<br /></b>
</td><td> <b>server name <br /></b>
</td><td> <b>application <br /></b>
</td><td> <b>website <br /></b>
</td><td> <b>assigned to </b><br />
</td><td> <b>Comments</b>..........
</td></tr>
<tr>
<td> S7 (1.61)&nbsp; <br />
</td><td> cache0 4GBram 50GB hdd <br />
</td><td> 172.16.1.131<br />
</td><td> cache 0 <br />
</td><td> Varnish<br />
</td><td> varnish for Zeenews english,marathi,hindi site<br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache1 3GBram 50GB hdd<br />
</td><td> 172.16.1.132<br />
</td><td> cache1 <br />
</td><td> Varnish<br />
</td><td> varnish server for all beta sites
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache2 5GB ram 50GB hdd <br />
</td><td> 172.16.1.133<br />
</td><td> cache2<br />
</td><td> varnish for india.com new version
</td><td> varnish server for india.com nginx
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache3 3GB ram 50GB hdd <br />
</td><td> 172.16.1.134<br />
</td><td> cache3<br />
</td><td> varnish
</td><td> varnish server for bollywoodlife
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache4 3GB ram 50GB hdd <br />
</td><td> 172.16.1.135<br />
</td><td> cache-4
</td><td> varnish
</td><td> varnish server for cricketcountry
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> ditto-tv 22GB ram 200GB hdd<span class="Apple-tab-span" style="white-space:pre">  </span>
</td><td> 10.0.202.18&nbsp;
</td><td> ditto-tv&nbsp;
</td><td> Apache
</td><td> zee payment gateway&nbsp;
</td><td> Zee TV
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Free 6GB ram <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S8 (1.62) <br />
</td><td> web5&nbsp;&nbsp; 5GB ram 50GB hdd <br />
</td><td> 172.16.1.136 <br />
</td><td> web5 <br />
</td><td> Beta Server
</td><td> All beta websites
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Cache13 (web6) &nbsp;5GB ram 50GB hdd <br />
</td><td> 172.16.1.137<br />
</td><td> cache-13<br />
</td><td> varnish,memcache<br />
</td><td> varnish server for oncars
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> web7&nbsp;&nbsp;&nbsp; 5 GB ram 50GB hdd<br />
</td><td> 172.16.1.138<br />
</td><td> web7<br />
</td><td> apache php memcache<br />
</td><td> oncars.in<br />
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> web8&nbsp;&nbsp;&nbsp; 5GB ram 50GB hdd<br />
</td><td> 172.16.1.139<br />
</td><td> web8<br />
</td><td> apache php memcache<br />
</td><td> upload,media.ind.sh,trading.oncars.in,leads.trading.oncars.in<br />
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S9 (1.63) <br />
</td><td> db5 10 GB ram&nbsp; 200GB hdd <br />
</td><td> 172.16.1.141<br />
</td><td> db5<br />
</td><td> mysql <br />
</td><td> all beta DB <br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db6 10GB rm 200GB hdd <br />
</td><td> 172.16.1.142<br />
</td><td> db6<br />
</td><td> mysql <br />
</td><td>
<p>uploadmedia_db,voiceof,v2_cricketcountry, 
</p><p>mobile_buying_guide, 
</p><p><br /> 
</p><p><br /> 
</p>
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S10 (1.64) <br />
</td><td> web11 5GB ram 50GB hdd <br />
</td><td> 172.16.1.151<br />
</td><td> web11<br />
</td><td> apache php memcache<br />
</td><td> videos,travel<br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db8 10GB ram 200GB hdd <br />
</td><td> 172.16.1.152<br />
</td><td> db8<br />
</td><td> mysql <br />
</td><td> did3,health,mediastore,travel,zra_zeetv
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache-12&nbsp; 3GB ram 50 GB hdd<br />
</td><td> 172.16.1.153<br />
</td><td> cache-12<br />
</td><td> varnish,memcached<br />
</td><td> varnish server for zeenews
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache-9 4Gb ram 50 Gb hdd
</td><td> 172.16.1.154<br />
</td><td> cache-9
</td><td> varnish for health.IC,examresults
</td><td> health,examresults varnish
</td><td> IWPL
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Free disk - 50 Gb hdd
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S11 (1.65) <br />
</td><td> windows 3&nbsp; 8GB&nbsp; 200GB hdd <br />
</td><td> 172.16.1.156<br />
</td><td> <br />
</td><td> Win2k8,IIS7<br />
</td><td> Zee News<br />
</td><td> Zeenews<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db4 50gb HDD 5gb RAM
</td><td> 172.16.1.157
</td><td> <br />
</td><td> Mysql
</td><td> blogs_india
</td><td> IWPL
</td><td> Blog Site DB
</td></tr>
<tr>
<td> <br />
</td><td> zeewebwin2 4GB 50GBhdd <br />
</td><td> 10.0.202.140<br />
</td><td> <br />
</td><td> win2k8,iis7<br />
</td><td> Zeetv micro websites
</td><td> Zeetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeeweblinux1&nbsp; 4GB 50GB<br />
</td><td> 172.16.1.159/ 10.0.202.210<br />
</td><td> <br />
</td><td> apache,php<br />
</td><td> Zeetv - tensports
</td><td> Zeetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeenewsweb2 8GB 50GB <br />
</td><td> 172.16.1.160<br />
</td><td> <br />
</td><td> Win2k8,IIS8
</td><td> Zee News<br />
</td><td> Zeenews
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeewebwin3 (deprecated)<br />zeeweblinux3 - 6/3/2012<br />4GB 50GB <br />
</td><td> 10.0.202.170 <br />
</td><td> <br />
</td><td> apache, php, mysql, memcache installed.<br />
</td><td> Zeetv-didlittlemasters.zeetv.com
</td><td> Zeetv
</td><td> 2012/3/6- converted from windows to linux. IP&nbsp;retained.
</td></tr>
<tr>
<td> <br />
</td><td> Free ram 15gb
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S12 (1.66) <br />
</td><td> zeeweb1 8 GB ram 80 GB HDD<br />
</td><td> 172.16.1.161<br />
</td><td> <br />
</td><td> win2k8,Mssql 2008<br />
</td><td> ZeeNews DB Server<br />
</td><td> Zeenews<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb6 10 GB ram 110 GB HDD<br />
</td><td> 10.0.202.143<br />
</td><td> <br />
</td><td> zeetvweb6<br />
</td><td> Zeetv-Active Directory<br />
</td><td> Zeetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr></table>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /> 
</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp; Zee Tv Server's </b><br /> 
</p>
<table border="1" cellspacing="1" cellpadding="1" style="width: 993px; height: 213px;">

<tr>
<td> Dom0<br />
</td><td> DomU<br />
</td><td> Server IP<br />
</td><td> OS Name<br />
</td><td> Application Name<br />
</td><td> Website Name<br />
</td></tr>
<tr>
<td> S1 (1.51)<br />
</td><td> zeewebwin01 4GB ram 50 GB HDD<br />
</td><td> 10.0.202.130<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> tenaction/tensports/tencricket.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb1 4GB ram 50 GB HDD<br />
</td><td> 10.0.202.142<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> zeetv.com/zeetelevision.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb2 4GB ram 50 GB HDD<br />
</td><td> 10.0.202.136<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> zeetv.com/zeetelevision.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb3 4GB ram 48 GB HDD<br />
</td><td> 10.0.202.132<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb4 4GB ram 30 GB HDD<br />
</td><td> 10.0.202.146<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> zeecafe/zeestudio.tv/esselnewsletter/esselgroup.com/zeefood.in<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S4 (1.54)<br />
</td><td> zeetvmemcach-1 10 Gb ram 24 Gb hdd<br />
</td><td> 10.0.202.134<br />
</td><td> centos 5.5<br />
</td><td> memcache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvmemcache-2 10 Gb ram 24 Gb hdd<br />
</td><td> 10.0.202.137<br />
</td><td> centos 5.5<br />
</td><td> memcache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvweb5 4gb ram 50 Gb hdd<br />
</td><td> 10.0.202.165<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> www.zeebangla.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S5 (1.55)<br />
</td><td> Linux-zee 4GB ram 129GB hdd<br />
</td><td> 10.0.202.209<br />
</td><td> centos 5.5<br />
</td><td> apache<br />
</td><td> www.zeetelevisionasia.com
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S7 (1.61)<br />
</td><td> ditto-tv<br />
</td><td> 10.0.202.18<br />
</td><td> centos 5.5<br />
</td><td> apache<br />
</td><td> ditto tv<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S11 (1.65) <br />
</td><td> zeewebwin2 4 GB 50GB hdd <br />
</td><td> 10.0.202.140
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> www.mypopkorn.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> zeeweblinux1 4GB 50GB<br />
</td><td> 10.0.202.210/ 172.16.1.159<br />
</td><td> centos 5.5<br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeeweblinux3 4GB 50GB <br />
</td><td> 10.0.202.170
</td><td> win2k8<br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S12 (1.66)<br />
</td><td> zeetvweb6 10 GB ram 110 GB HDD<br />
</td><td> 10.0.202.143<br />
</td><td> win2k8<br />
</td><td> ads<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <b>Zee Tv server's hosted in Netmagic Data Center</b><br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvfms01<br />
</td><td> 10.0.202.164<br />
</td><td> win2k3<br />
</td><td> <br />
</td><td> origin.vidz.zeecdn.com,origin.static.zeecdn.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetv-linux-1<br />
</td><td> 10.0.202.144<br />
</td><td> centos<br />
</td><td> mysql<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetv-linux-2<br />
</td><td> 10.0.202.145<br />
</td><td> centos<br />
</td><td> mysql<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetvcms01<br />
</td><td> 10.0.202.166<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> zeetv<br />
</td><td> 10.0.202.25<br />
</td><td> win2k3<br />
</td><td> smtp<br />
</td><td> <br />
</td></tr></table>
<p><br /> 
</p><p><br /> &nbsp;<br />
</p>
