<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rack 1&nbsp; </b>[IMS: 1.0.0.21]<br /> 
</p><p><br /> 
</p><p><br /> 
</p>
<table class="table1" border="1" cellspacing="1" cellpadding="1" style="width: 1144px; height: 883px;">

<tr>
<td> <b>Dom0<br /></b>
</td><td> <b>DomU <br /></b>
</td><td> <b>ipaddress<br /></b>
</td><td> <b>server name <br /></b>
</td><td> <b>application <br /></b>
</td><td> <b>website <br /></b>
</td><td> <b>assigned to </b><br />
</td></tr>
<tr>
<td> S1 (1.51)<br />
</td><td> yourwebsitenews-db 10GB ram 100 GB HDD &nbsp;&nbsp;
</td><td> 1.0.0.101<br />
</td><td> yourwebsitenews-db
</td><td> win2k8 ,sql
</td><td> MSSQL Server
</td><td> yourwebsitenews
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb3&nbsp; 4GB ram 48 GB HDD<br />
</td><td> 9.9.02.132<br />
</td><td> yourwebsitetvweb3<br />
</td><td> win2k8,IIS<br />
</td><td> yourwebsite TV <br />
</td><td> yourwebsitetv<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb4&nbsp; 4GB ram 30 GB HDD<br />
</td><td> 9.9.202.146<br />
</td><td> yourwebsitetvweb4<br />
</td><td> win2k8,IIS<br />
</td><td> yourwebsite TV <br />
</td><td> yourwebsitetv<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S2 (1.52) <br />
</td><td> web1 5.5GB ram 50GB hdd<br />
</td><td> 1.0.0.106<br />
</td><td> web1 <br />
</td><td> apache,php,memcache<br />
</td><td> someweb,careerfundas,lms.someweb.com<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web4 5.5GB ram 50GB hdd<br />
</td><td> 1.0.0.109<br />
</td><td> web4<br />
</td><td> apache,php,memcache<br />
</td><td> bgr.in,gadgets.india.com
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S3 (1.53) <br />
</td><td> DB1 11GB ram 100GB hdd <br />
</td><td> 1.0.0.111<br />
</td><td> db1<br />
</td><td> mysql <br />
</td><td> all commons (auth  ),someweb<br />
</td><td> IL
</td></tr>
<tr>
<td> <br />
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S4 (1.54) <br />
</td><td> DB3 10GB ram 200GB hdd<br />
</td><td> 1.0.0.116<br />
</td><td> db3<br />
</td><td> mysql <br />
</td><td> ors_db,ls_ting
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvmemcach-1 10 Gb ram 24 Gb hdd<br />
</td><td> 9.9.202.134<br />
</td><td> yourwebsitetvmem-1<br />
</td><td> yourwebsite Tv Memcached Server-1<br />
</td><td> yourwebsite Tv Memcached Server-1<br />
</td><td> yourwebsitetv
</td></tr>
<tr>
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S5 (1.55)<br />
</td><td> 1 systems ops 8GB 100GB <br />
</td><td> 1.0.0.121<br />
</td><td> ops<br />
</td><td> mysql,php,apache<br /><br />
</td><td> odw <br /> opsview <br /> reports <br /> runtime <br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
<td> <br />
<td> <br />
</td><td> cache 4GB ram 129GB hdd<br />
</td><td> 9.9.202.209<br />
</td><td> linux-yourwebsite<br />
</td><td> php,apache<br />
</td><td> yourwebsite <br />
</td><td> yourwebsitetv
</td></tr>
<tr>
<td> <br />
</td><td> cache 6GB ram 20GB hdd<br />
</td><td> 1.0.0.125<br />
</td><td> cache-9<br />
</td><td> backup server
</td><td> backup server
</td><td> IL
</td></tr>
<tr>
<td> <br />
</td><td> web16- 5 GB RAM 46GB HDD
</td><td> 1.0.0.103
</td><td> web16
</td><td> php,apache
</td><td> voiofa.com,solr instance
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S6 (1.56) <br />
</td><td> web9 5GBram <br />
</td><td> 1.0.0.126<br />
</td><td> web9 <br />
</td><td> apache,php,memcache<br />
</td><td> www.ia.com,dia.com,dia.com,bon.ia.com<br />
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> web10 <br />
</td><td> 1.0.0.127<br />
</td><td> web10<br />
</td><td> apache,php,memcache<br />
</td><td> hea.ia.com,esults.ia.com
</td><td> IWPL
</td></tr>
<tr>
<td> <br />
</td><td> r1s6v1web13&nbsp;5-GB ram - 50-GB hdd<br />
</td><td> 1.0.0.129<br />
</td><td> web13<br />
</td><td> apache,php,memcache
</td><td> critry,m.try,admin.ccry.com
</td><td> IL
</td></tr></table>





<p><br /> &nbsp;<br /> 
</p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>Rack 2 </b> [IMS: 1.0.0.22]<br /> 
</p><p><br /> 
</p><p>health,examresults varnish 
</p>
<table border="1" width="1162" cellspacing="1" cellpadding="1" style="">

<tr>
<td> <b>Dom0<br /></b>
</td><td> <b>DomU <br /></b>
</td><td> <b>ipaddress<br /></b>
</td><td> <b>server name <br /></b>
</td><td> <b>application <br /></b>
</td><td> <b>website <br /></b>
</td><td> <b>assigned to </b><br />
</td><td> <b>Comments</b>..........
</td></tr>
<tr>
<td> S7 (1.61)&nbsp; <br />
</td><td> cache0 4GBram 50GB hdd <br />
</td><td> 1.0.0.131<br />
</td><td> cache 0 <br />
</td><td> Varnish<br />
</td><td> varnish for yourwebsitenews english,marathi,hindi site<br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache1 3GBram 50GB hdd<br />
</td><td> 1.0.0.132<br />
</td><td> cache1 <br />
</td><td> Varnish<br />
</td><td> varnish server for all beta sites
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache2 5GB ram 50GB hdd <br />
</td><td> 1.0.0.133<br />
</td><td> cache2<br />
</td><td> varnish for india.com new version
</td><td> varnish server for india.com nginx
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache3 3GB ram 50GB hdd <br />
</td><td> 1.0.0.134<br />
</td><td> cache3<br />
</td><td> varnish
</td><td> varnish server for bollywoodlife
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache4 3GB ram 50GB hdd <br />
</td><td> 1.0.0.135<br />
</td><td> cache-4
</td><td> varnish
</td><td> varnish server for cricketcountry
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> ditto-tv 22GB ram 200GB hdd<span class="Apple-tab-span" style="white-space:pre">  </span>
</td><td> 9.9..202.18&nbsp;
</td><td> ditto-tv&nbsp;
</td><td> Apache
</td><td> yourwebsite payment gateway&nbsp;
</td><td> yourwebsite TV
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Free 6GB ram <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S8 (1.62) <br />
</td><td> web5&nbsp;&nbsp; 5GB ram 50GB hdd <br />
</td><td> 1.0.0.136 <br />
</td><td> web5 <br />
</td><td> Beta Server
</td><td> All beta websites
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Cache13 (web6) &nbsp;5GB ram 50GB hdd <br />
</td><td> 1.0.0.137<br />
</td><td> cache-13<br />
</td><td> varnish,memcache<br />
</td><td> varnish server for oncars
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> web7&nbsp;&nbsp;&nbsp; 5 GB ram 50GB hdd<br />
</td><td> 1.0.0.138<br />
</td><td> web7<br />
</td><td> apache php memcache<br />
</td><td> oncars.in<br />
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> web8&nbsp;&nbsp;&nbsp; 5GB ram 50GB hdd<br />
</td><td> 1.0.0.139<br />
</td><td> web8<br />
</td><td> apache php memcache<br />
</td><td> upload,media.ind.sh,trading.oncars.in,leads.trading.oncars.in<br />
</td><td> IWPL<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S9 (1.63) <br />
</td><td> db5 10 GB ram&nbsp; 200GB hdd <br />
</td><td> 1.0.0.141<br />
</td><td> db5<br />
</td><td> mysql <br />
</td><td> all beta DB <br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db6 10GB rm 200GB hdd <br />
</td><td> 1.0.0.142<br />
</td><td> db6<br />
</td><td> mysql <br />
</td><td>
<p>uploadmedia_db,voiceof,v2_cricketcountry, 
</p><p>mobile_buying_guide, 
</p><p><br /> 
</p><p><br /> 
</p>
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S10 (1.64) <br />
</td><td> web11 5GB ram 50GB hdd <br />
</td><td> 1.0.0.151<br />
</td><td> web11<br />
</td><td> apache php memcache<br />
</td><td> videos,travel<br />
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db8 10GB ram 200GB hdd <br />
</td><td> 1.0.0.152<br />
</td><td> db8<br />
</td><td> mysql <br />
</td><td> did3,health,mediastore,travel,zra_yourwebsitetv
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache-12&nbsp; 3GB ram 50 GB hdd<br />
</td><td> 1.0.0.153<br />
</td><td> cache-12<br />
</td><td> varnish,memcached<br />
</td><td> varnish server for yourwebsitenews
</td><td> IWPL
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> cache-9 4Gb ram 50 Gb hdd
</td><td> 1.0.0.154<br />
</td><td> cache-9
</td><td> varnish for health.IC,examresults
</td><td> health,examresults varnish
</td><td> IWPL
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> Free disk - 50 Gb hdd
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S11 (1.65) <br />
</td><td> windows 3&nbsp; 8GB&nbsp; 200GB hdd <br />
</td><td> 1.0.0.156<br />
</td><td> <br />
</td><td> Win2k8,IIS7<br />
</td><td> yourwebsite News<br />
</td><td> yourwebsitenews<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> db4 50gb HDD 5gb RAM
</td><td> 1.0.0.157
</td><td> <br />
</td><td> Mysql
</td><td> blogs_india
</td><td> IWPL
</td><td> Blog Site DB
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitewebwin2 4GB 50GBhdd <br />
</td><td> 9.9..202.140<br />
</td><td> <br />
</td><td> win2k8,iis7<br />
</td><td> yourwebsitetv micro websites
</td><td> yourwebsitetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsiteweblinux1&nbsp; 4GB 50GB<br />
</td><td> 1.0.0.159/ 9.9..202.210<br />
</td><td> <br />
</td><td> apache,php<br />
</td><td> yourwebsitetv - tensports
</td><td> yourwebsitetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitenewsweb2 8GB 50GB <br />
</td><td> 1.0.0.160<br />
</td><td> <br />
</td><td> Win2k8,IIS8
</td><td> yourwebsite News<br />
</td><td> yourwebsitenews
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitewebwin3 (deprecated)<br />yourwebsiteweblinux3 - 6/3/2012<br />4GB 50GB <br />
</td><td> 9.9..202.170 <br />
</td><td> <br />
</td><td> apache, php, mysql, memcache installed.<br />
</td><td> yourwebsitetv-didlittlemasters.yourwebsitetv.com
</td><td> yourwebsitetv
</td><td> 2012/3/6- converted from windows to linux. IP&nbsp;retained.
</td></tr>
<tr>
<td> <br />
</td><td> Free ram 15gb
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S12 (1.66) <br />
</td><td> yourwebsiteweb1 8 GB ram 80 GB HDD<br />
</td><td> 1.0.0.161<br />
</td><td> <br />
</td><td> win2k8,Mssql 2008<br />
</td><td> yourwebsiteNews DB Server<br />
</td><td> yourwebsitenews<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb6 10 GB ram 110 GB HDD<br />
</td><td> 9.9..202.143<br />
</td><td> <br />
</td><td> yourwebsitetvweb6<br />
</td><td> yourwebsitetv-Active Directory<br />
</td><td> yourwebsitetv
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr></table>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /> 
</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp; yourwebsite Tv Server's </b><br /> 
</p>
<table border="1" cellspacing="1" cellpadding="1" style="width: 993px; height: 213px;">

<tr>
<td> Dom0<br />
</td><td> DomU<br />
</td><td> Server IP<br />
</td><td> OS Name<br />
</td><td> Application Name<br />
</td><td> Website Name<br />
</td></tr>
<tr>
<td> S1 (1.51)<br />
</td><td> yourwebsitewebwin01 4GB ram 50 GB HDD<br />
</td><td> 9.9..202.130<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> tenaction/tensports/yourwebsite.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb1 4GB ram 50 GB HDD<br />
</td><td> 9.9..202.142<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> yourwebsitetv.com/yourwebsitetelevision.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb2 4GB ram 50 GB HDD<br />
</td><td> 9.9..202.136<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> yourwebsitetv.com/yourwebsitetelevision.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb3 4GB ram 48 GB HDD<br />
</td><td> 9.9..202.132<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb4 4GB ram 30 GB HDD<br />
</td><td> 9.9..202.146<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> yourwebsitecafe/yourwebsitefood.in<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S4 (1.54)<br />
</td><td> yourwebsitetvmemcach-1 10 Gb ram 24 Gb hdd<br />
</td><td> 9.9..202.134<br />
</td><td> centos 5.5<br />
</td><td> memcache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvmemcache-2 10 Gb ram 24 Gb hdd<br />
</td><td> 9.9..202.137<br />
</td><td> centos 5.5<br />
</td><td> memcache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvweb5 4gb ram 50 Gb hdd<br />
</td><td> 9.9..202.165<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> www.yourwebsite.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S5 (1.55)<br />
</td><td> Linux-yourwebsite 4GB ram 129GB hdd<br />
</td><td> 9.9.202.209<br />
</td><td> centos 5.5<br />
</td><td> apache<br />
</td><td> www.yourwebsitetelevisionasia.com
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S7 (1.61)<br />
</td><td> ditto-tv<br />
</td><td> 9.9.02.18<br />
</td><td> centos 5.5<br />
</td><td> apache<br />
</td><td> ditto tv<br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S11 (1.65) <br />
</td><td> yourwebsitewebwin2 4 GB 50GB hdd <br />
</td><td> 9.9.202.140
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> www.oome.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsiteweblinux1 4GB 50GB<br />
</td><td> 9.9.202.210/ 1.0.0.159<br />
</td><td> centos 5.5<br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsiteweblinux3 4GB 50GB <br />
</td><td> 9.9..202.170
</td><td> win2k8<br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> S12 (1.66)<br />
</td><td> yourwebsitetvweb6 10 GB ram 110 GB HDD<br />
</td><td> 9.9..202.143<br />
</td><td> win2k8<br />
</td><td> ads<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <b>yourwebsite Tv server's hosted in Netmagic Data Center</b><br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvfms01<br />
</td><td> 9.9..202.164<br />
</td><td> win2k3<br />
</td><td> <br />
</td><td> origin.vidz.yourwebsitecdn.com,origin.static.yourwebsitecdn.com<br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetv-linux-1<br />
</td><td> 9.9..202.144<br />
</td><td> centos<br />
</td><td> mysql<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetv-linux-2<br />
</td><td> 9.9..202.145<br />
</td><td> centos<br />
</td><td> mysql<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetvcms01<br />
</td><td> 9.9.202.166<br />
</td><td> win2k8<br />
</td><td> xampp,apache<br />
</td><td> <br />
</td></tr>
<tr>
<td> <br />
</td><td> yourwebsitetv<br />
</td><td> 9.9..202.25<br />
</td><td> win2k3<br />
</td><td> smtp<br />
</td><td> <br />
</td></tr></table>
<p><br /> 
</p><p><br /> &nbsp;<br />
</p>
